.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-width: 65% !important;
  width: 65%;
  margin: auto;
}

h2 {
  padding: 2rem !important;
  background-color: rgba(138, 137, 228, 0.322);
  color: rgb(47, 12, 94);

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 0.5rem !important;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.card-img-top {
  width: 286px !important;
  height: 236px !important;
  object-fit: cover;
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}
